<html>
	<head>
		<meta charset="UTF-8">
		<title>PKU EECS Virtual Lab</title>
		<link type="text/css" rel="stylesheet" href="../css/style.css">
		<link type="text/css" rel="stylesheet" href="../css/superfish.css"/>
		<link type="text/css" rel="stylesheet" href="../css/superfish-vertical.css"/>
		<link type="text/css" rel="stylesheet" href="../css/superfish-navbar.css"/>
		<link type="text/css" rel="stylesheet" href="../css/style-table.css"/>
	
		<script src="../js/superfish.js"></script>	
		<script src="../js/hoverIntent.manified.js"></script>
		<script src="../js/supersubs.js"></script>
		<script src="../js/jquery-1.7.1.min.js"></script>
		<script src="../js/jquery.tablesorter.pager.js"></script>
		<script>
			$(document).ready(function()
			{
				$('#myTable').tablesorter();
			});
		</script>
	</head>
	<body> 
		<div class="top">
			<div class="logo">
				logo here!
			</div>
			<div class="login_state">
				<p>Administrator, welcome to PKU EECS Virtual Lab <a href="#">Logout</a></p>
			</div>	
		</div>
		<div class="main">
			<div class="nav_left" clear> 
				<ul class="sf-menu sf-vertical">
					<li class="current"><a href="#">Overview</a></li>
					<li><a href="../clusters">Clusters</a></li>
					<li><a href="../courses">Courses</a></li>
					<li><a href="../create">Create VM</a></li>
					<li><a href="../teachers">Teachers</a></li>
					<li><a href="../students">Students</a></li>
				</ul>	
			</div>
			<div class="content_right">
				<table id="myTable" class="tablesorter">
					<thead>
						<tr>
							<th>domainID</th>
							<th>name</th>
							<th>maxMemory(MB)</th>
							<th>state</th>
							<th>osType</th>
							<th>maxVcpus</th>
							<th>UUID</th>
						</tr>
					</thead>
					<tbody>
					{% for item in data %}
						{% if item|length >= 1 %}
							{% for pair in item %}
								<tr>
								{% for k,v in pair.iteritems %}
									<td>{{v}}</td>
								{%endfor%}
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td>{{ item }}</td>
							<tr>
						{% endif %}
					{% endfor %}	
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
